body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.movie-poster {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #dc3545;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}