body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*h1, h2 {*/
/*    font-size: 1.8rem !important;*/
/*    margin-bottom: 15px !important;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

h2{
    text-align: center;
}

/*.profile-info {*/
/*    padding: 30px;*/
/*    background-color: #ffffff;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);*/
/*}*/

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.info h1 {
    margin: 0;
    font-size: 2rem;
}

.info p {
    margin: 10px 0;
    color: #666;
}

.edit-profile {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile:hover {
    background-color: #0056b3;
}

.stats .stat-item {
    text-align: center;
    margin-top: 15px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu .nav-item a {
    text-decoration: none;
    color: #007bff;
    padding: 10px;
    font-size: 1.1rem;
}

.menu .nav-item a:hover {
    color: #0056b3;
}

/*.movies-grid {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*}*/

.movie img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}

.review {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.review-image {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

footer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 5px;
}

.no-favorites-message {
    height: 200px;
    width: 100%;
    justify-content: center;
}
