body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2{
    font-size:1.5rem !important;
    margin-bottom: 5px !important;
}


.profile-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.profile-left{
    display: flex;
    gap: 20px;
}

.avatar img{
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
}

.info h1 {
    margin: 0;
}

.location, .username {
    font-size: 14px;
    color: gray;
}

.edit-profile {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #d3ae37;
    border: none;
    cursor: pointer;
    transition: 0.3s ;
}

.edit-profile:hover{
    background-color: #b89214;
}

.stats {
    display: flex;
    gap: 20px; /* Espacio entre los bloques */
}

.stat-item {
    text-align: center;
}

.stat-title {
    font-weight: bold;
    font-size: 14px;
    color: gray;
}

.stat-number {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.menu{
    margin-top:20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: black; /* Cambia el color según prefieras */
    font-weight: bold;
}

.menu a:hover {
    color: #d4af37; /* Color de hover, por ejemplo dorado */
}


.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.favorite-movies, .watchlist, .recent-activity, .history {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.favorite-movies, .watchlist {
    margin-top: 20px;
}

.movies-grid, .watchlist-grid {
    display: flex;
    gap: 20px;
}

.movie img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 220px;
    border: 2px dashed #ccc;
    border-radius: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}

.add-more a {
    text-decoration: none;
    color: inherit;
}

.add-more:hover {
    background-color: #f0f0f0;
}

.recent-activity {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.review-image {
    width: 80px;
    height: 120px;
    margin-right: 20px;
    object-fit: cover; /* Ajusta la imagen dentro del marco */
}

.review-content {
    flex: 1;
}

.review-content h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.review-content p {
    margin: 0;
    color: #555;
}




.history {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.month {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    margin: 5px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.month:hover {
    background-color: #e0e0e0;
}
.dates {
    display: none;
    padding-left: 20px;
}


footer {
    padding: 20px;
    background-color: white;
}