<footer class="bg-dark text-white text-center text-lg-start mt-5" th:fragment="footer">
  <div class="container p-4">
    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="text-uppercase">TWELVE+</h5>
        <p>
          Tu plataforma para seguir, descubrir y compartir opiniones sobre películas.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none hover-effect">Inicio</a></li>
          <li><a href="#" class="text-white text-decoration-none hover-effect">Populares</a></li>
          <li><a href="#" class="text-white text-decoration-none hover-effect">Reseñas</a></li>
          <li><a href="#" class="text-white text-decoration-none hover-effect">Acerca de</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase">Síguenos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none hover-effect">Facebook</a></li>
          <li><a href="#" class="text-white text-decoration-none hover-effect">Twitter</a></li>
          <li><a href="#" class="text-white text-decoration-none hover-effect">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-secondary">
    © 2024 TWELVE+
  </div>
</footer>