<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" th:fragment="header">
    <div class="container-fluid d-flex flex-column flex-lg-row align-items-center justify-content-between">

        <!-- Logo -->
        <a class="navbar-brand mb-2 mb-lg-0" th:href="@{/home}">
            <img th:src="@{/images/TWELVE_logo.png}" alt="logo" class="img-fluid" style="height: 50%;">
        </a>

        <!-- Contenedor del buscador y toggle -->
        <div class="d-flex w-100 order-2 order-lg-1 align-items-center my-2 my-lg-0">
            <!-- Formulario de búsqueda -->
            <form class="d-flex justify-content-center justify-content-lg-start w-100 me-2" role="search" th:action="@{/search}" method="get">
                <input class="form-control me-2 w-75 rounded-pill" type="search" name="title" placeholder="Buscar película" aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">Buscar</button>
            </form>

            <!-- Botón del toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Menú colapsable -->
        <div class="collapse navbar-collapse justify-content-end order-3" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${session.usuario == null}">
                    <a class="nav-link" th:href="@{/login}">Iniciar sesión</a>
                </li>
                <li class="nav-item" th:if="${session.usuario == null}">
                    <a class="nav-link" th:href="@{/nuevo-usuario}">Crear cuenta</a>
                </li>
                <li class="nav-item" th:if="${session.usuario != null}">
                    <a class="nav-link" th:href="@{/perfil/{id}(id=${session.usuario.id})}">Perfil</a>
                </li>
                <li class="nav-item" th:if="${session.usuario != null}">
                    <a class="nav-link" th:href="@{/salir}">Salir</a>
                </li>
                <li class="nav-item" th:if="${session.usuario != null and session.usuario.rol == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/admin/panel}">Panel de Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
