
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" th:fragment="header">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" th:href="@{/home}">
            <img th:src="@{/images/TWELVE_logo.png}" alt="logo" class="img-fluid" style="width: 150px;">
        </a>

        <!-- Botón del toggle para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú colapsable -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Formulario de búsqueda -->
            <form class="d-flex flex-grow-1 my-2 my-lg-0 me-lg-3" role="search" th:action="@{/search}" method="get">
                <input class="form-control me-2 rounded-pill" type="search" name="title" placeholder="Buscar película" aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">Buscar</button>
            </form>

            <!-- Navegación -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" th:if="${session.usuario == null}">
                    <a class="nav-link" th:href="@{/login}">Iniciar sesión</a>
                </li>
                <li class="nav-item" th:if="${session.usuario == null}">
                    <a class="nav-link" th:href="@{/nuevo-usuario}">Crear cuenta</a>
                </li>
                <li class="nav-item" th:if="${session.usuario != null}">
                    <a class="nav-link" th:href="@{/perfil/{id}(id=${session.usuario.id})}">Perfil</a>
                </li>
                <li class="nav-item" th:if="${session.usuario != null}">
                    <a class="nav-link" th:href="@{/salir}">Salir</a>
                </li>
                <li class="nav-item" th:if="${session.usuario != null and session.usuario.rol == 'ADMIN'}">
                    <a class="nav-link" th:href="@{/admin/panel}">Panel de Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

