<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Listado de Películas</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:insert="fragments/header :: header"></div>


<main role="main" class="container">
    <div class="container mt-5">
        <h1 class="mb-4">Listado de Películas</h1>

        <!-- Acá puedo seleccionar categoría -->
        <div class="mb-4">
            <form action="#" method="get" id="categoryForm">
                <div class="form-group">
                    <label for="filter">Filtrar:</label>
                    <select class="form-control" id="filter" name="filter" onchange="submitCategoryForm()">
                        <option value="">Ninguno</option>
                        <option value="topRated" th:selected="${selectedFilter == 'topRated'}">Mejor valoradas</option>
                        <option value="newest" th:selected="${selectedFilter == 'newest'}">Más recientes</option>
                    </select>
                </div>
            </form>
        </div>

        <div th:if="${#lists.isEmpty(movies)}">
            <p>No hay películas disponibles en este momento.</p>
        </div>

        <div th:if="${!#lists.isEmpty(movies)}">
            <div class="row">
                <div class="col-md-3 mb-4" th:each="movie : ${movies}">
                    <a th:href="@{/detalle-pelicula/{id}(id=${movie.id})}">
                        <img th:src="@{'/images/' + ${movie.imagen}}" class="img-fluid" alt="Imagen de la película">
                    </a>
                    <h5 th:text="${movie.nombre}"></h5>
                </div>
            </div>
        </div>

    </div>
</main>

<div th:insert="fragments/footer :: footer"></div>

<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

<script>
    function submitCategoryForm() {
        document.getElementById("categoryForm").submit();
    }
</script>

</body>
</html>
