<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Listado de Películas</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Películas</a>
</nav>

<main role="main" class="container">
    <div class="container mt-5">
        <h1 class="mb-4">Listado de Películas</h1>

        <!-- aca puedo seleccionar categoria -->
        <div class="mb-4">
            <form action="#" method="get" id="categoryForm">
                <div class="form-group">
                    <label for="idCategoria">Filtrar por categoría:</label>
                    <select class="form-control" id="idCategoria" name="idCategoria" onchange="submitCategoryForm()">
                        <option value="">Todas</option>
                        <option th:each="category : ${categorias}" th:value="${category.id}"
                                th:text="${category.nombre}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="filter">Otros filtros:</label>
                    <select class="form-control" id="filter" name="filter" onchange="submitCategoryForm()">
                        <option value="">Ninguno</option>
                        <option value="topRated" th:selected="${selectedFilter == 'topRated'}">Mejor valoradas</option>
                        <option value="newest" th:selected="${selectedFilter == 'newest'}">Más recientes</option>
                    </select>
                </div>
            </form>
        </div>

        <div th:if="${#lists.isEmpty(movies)}">
            <p>No hay películas disponibles en este momento.</p>
        </div>

        <div th:if="${!#lists.isEmpty(movies)}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Duración</th>
                    <th>Pais</th>
                    <th>Valoración</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.nombre}"></td>
                    <td th:text="${movie.descripcion}"></td>
                    <td th:text="${movie.duracion} + ' mins'"></td>
                    <td th:text="${movie.pais}"></td>
                    <td th:text="${movie.valoracion}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="home.html" class="btn btn-lg btn-primary">Volver</a>
    </div>
</main>

<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

<script>
    function submitCategoryForm() {
        document.getElementById("categoryForm").submit();
    }
</script>

</body>
</html>