<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<section class="profile container mt-5">
    <div class="profile-info row">
        <div class="profile-left col-md-8 d-flex">
            <div class="avatar">
                <img th:src="@{/images/user/foto-perfil.jpg}" alt="User Avatar">
            </div>
            <div class="info ms-4">
                <h1 th:text="${usuario.nombre}">Nombre del Usuario</h1>
                <p class="mt-3" th:text="${usuario.descripcion}">Descripción del perfil</p>
                <p>Ubicación: <span th:text="${usuario.pais.nombre}">Ubicación</span></p>
                <p>Username: <span th:text="${usuario.username}">@username</span></p>

                <div class="follow-button mt-4">
                    <form th:action="@{${seguirODejarUrl}}" method="post">
                        <button type="submit" class="btn" th:classappend="${estaSiguiendo ? 'btn-danger' : 'btn-primary'}" th:text="${estaSiguiendo ? 'Dejar de Seguir' : 'Seguir'}"></button>
                    </form>
                </div>

            </div>
        </div>
        <div class="stats col-md-4 d-flex justify-content-around">
            <div class="stat-item">
                <p class="stat-title">Películas</p>
                <p class="stat-number" th:text="${cantidadPeliculasVistas}"></p>
            </div>
            <div class="stat-item">
                <p class="stat-title">Vistas este año</p>
                <p class="stat-number" th:text="${cantidadPeliculasVistasEsteAno}"></p>
            </div>
            <div class="stat-item">
                <p class="stat-title">Seguidores</p>
                <p class="stat-number" th:text="${seguidores.size()}"></p>
            </div>
            <div class="stat-item">
                <p class="stat-title">Siguiendo</p>
                <p class="stat-number" th:text="${siguiendo.size()}"></p>
            </div>
        </div>
    </div>

    <nav class="menu mt-5">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="#perfil" class="nav-link">Perfil</a></li>
            <li class="nav-item"><a href="#actividad" class="nav-link">Actividad</a></li>
            <li class="nav-item"><a href="#peliculas" class="nav-link">Películas</a></li>
            <li class="nav-item"><a href="#historial" class="nav-link">Historial</a></li>
            <li class="nav-item"><a href="#reseñas" class="nav-link">Reseñas</a></li>
            <li class="nav-item"><a href="#watchlist" class="nav-link">Watchlist</a></li>
            <li class="nav-item"><a href="#listas" class="nav-link">Listas</a></li>
            <li class="nav-item"><a href="#favoritos" class="nav-link">Favoritos</a></li>
            <li class="nav-item"><a href="#tags" class="nav-link">Tags</a></li>
            <li class="nav-item"><a href="#amigos" class="nav-link">Amigos</a></li>
            <li class="nav-item"><a href="#invitaciones" class="nav-link">Invitaciones</a></li>
        </ul>
    </nav>
</section>

<section class="content container my-5">
    <!-- Sección de Películas Favoritas -->
    <div class="favorite-movies mb-5">
        <h2 class="text-center">Películas favoritas</h2>
        <div class="movies-grid d-flex justify-content-between">
            <div class="movie">
                <img th:src="@{/images/el_origen.jpg}" alt="Película 1">
            </div>
            <div class="movie">
                <img th:src="@{/images/tiempos_violentos.jpg}" alt="Película 2">
            </div>
            <div class="movie">
                <img th:src="@{/images/matrix.jpg}" alt="Película 3">
            </div>
            <div class="movie add-more">
                <a href="url/a/la/nueva/pagina.html">Ver todas</a>
            </div>
        </div>
    </div>

    <!-- Watchlist -->
    <div class="watchlist mb-5">
        <h2 class="text-center">Watchlist</h2>
        <div class="movies-grid d-flex justify-content-between">
            <div class="movie">
                <img th:src="@{/images/parasitos.jpg}" alt="Película 4">
            </div>
            <div class="movie">
                <img th:src="@{/images/interestelar.jpg}" alt="Película 5">
            </div>
            <div class="movie add-more">
                <a href="url/a/la/nueva/pagina.html">Ver todas</a>
            </div>
        </div>
    </div>

    <!-- Actividad Reciente -->
    <div class="recent-activity mb-5">
        <h2 class="text-center">Actividad reciente</h2>
        <div class="review d-flex mb-3">
            <img th:src="@{/images/venom.jpg}" alt="Venom 2" class="review-image">
            <div class="review-content ms-3">
                <h3>Venom 2 (2021)</h3>
                <p>Es la mejor peli que vi en mi vida</p>
            </div>
        </div>
        <div class="review d-flex mb-3">
            <img th:src="@{/images/orgulloyprejuicio.jpg}" alt="Orgullo y Prejuicio" class="review-image">
            <div class="review-content ms-3">
                <h3>Orgullo y Prejuicio (2008)</h3>
                <p>Muy buena la adaptación</p>
            </div>
        </div>
        <div class="review d-flex mb-3">
            <img th:src="@{/images/nowyouseeme.jpg}" alt="Now you see me" class="review-image">
            <div class="review-content ms-3">
                <h3>Now you see me (2013)</h3>
                <p>No me gustó mucho</p>
            </div>
        </div>
    </div>
</section>

<div th:insert="fragments/footer :: footer"></div>

<script th:src="@{/js/perfil.js}"></script>
</body>
</html>